﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<form action="/" method="post">

    <input type="text" name="name" value="" />
    <input type="password" name="name" value="" />
    <br />

</form>